# fish likes to add stuff automatically, ignore anything we don't want shared across devices:
.config/fish
!.config/fish/functions/aliases.fish
!.config/fish/config.fish

# tpm (tmux plugin manager)
.config/tmux/plugins/

# lazy.nvim
lazy-lock.json

# Misc.
.DS_store
node_modules

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
